body {
    font-family: 'Century Gothic', Arial, Tahoma, sans-serif;
    padding: 10px;
    font-size: 10px;
}
h3 {
    font-size: 12px;
    margin: 4px 0;
}
.container {
    background-color: #ddd;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    min-height: 400px;
    width: 800px;
}
.item {
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    margin: 10px;
}
.item1 {
    padding-top: 20px;
    width: 150px;
    align-self: flex-end;
}
.item2 {
    padding-top: 50px;
    width: 150px;
    align-self: flex-start;
}
.item3 {
    padding-top: 30px;
    width: 150px;
    align-self: flex-end;
}
.item4 {
    width: 150px;
    align-self: flex-start;
}
/*.item5 {
    flex: 1 0 auto;
}
.item6 {
    flex: 1 0 auto;
}
.item7 {
    flex: 1 0 auto;
}*/

.item1 h3 {
    color: #d02;
}
.item2 h3 {
    color: #13B;
}
.item3 h3 {
    color: #262;
}
.item4 h3 {
    color: orange;
}